.profileWrapper {
	display: grid;
	display: -webkit-grid;
	flex-grow: 1;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5px;
	border-radius: 10px;
	background: var(--color8);
	padding: 5px;
	overflow: hidden;
}
.profileFoto {
	/*background: url(./../../image/profile_foto.jpg);
	background-size: cover;*/
	border-radius: 10px;
	background: var(--color7);
	padding: 5px;
	height: 300px;
}
.profileFoto img {
	width: 250px;
}
.profileInfo {
	grid-column: 2/4;
	display: flex;
	display: -webkit-flex;
	background: var(--color7);
	border-radius: 10px;
	padding: 5px;
	color: var(--color2);
	text-align: center;
	flex-direction: column;
	justify-content: center;
}
.profileFormSenderPlace {
	grid-column: 1/4;
	background: var(--color7);
	border-radius: 10px;
	padding: 5px;
}
.profilePosts {
	grid-column: 1/4;
	background: var(--color7);
	border-radius: 10px;
	padding: 5px;
}