.navi_block {
    background: #E1E5EE;
}
.navi_block ul {
    list-style: none;
    padding: 10px;
}

/* Оформление ссылок меню */
.navi_block a {
    text-decoration: none;
    color: #2A324B;
    /*font-family: "Forum";
    font-size: 20px;*/
    font: bold italic 110% Forum;
}
.navi_block a:hover {
    color: #767B91;
}
.navi_block a.active {
    color: #F7C59F;
}