.header {
    background: #2A324B;
    color: #E1E5EE;
    font-family: "Forum";
    line-height: 1.5em;
    text-align: center;
    /* Задаем насыщенность шрифта (делаем жирным) */
    font-weight: 900;
}