.footer {
    background-color: #C7CCDB;
    border-radius: 10px;
    padding: 10px;
}


/*Collors*/
.color_bar {
    display: grid;
    padding: 10px;
    background: #2D2F31;
    border-radius: 20px;
    grid-template-columns: repeat(5, 1fr);
  }
  .color_bar > div {
    border-radius: 15px;
    margin: 0 2px;
    padding: 10px;
  }
  .color1 {background: #F7C59F;}
  .color2 {background: #2A324B;}
  .color3 {background: #767B91;}
  .color4 {background: #C7CCDB;}
  .color5 {background: #E1E5EE;}