* {
    margin: 0;
    padding: 0;
}

body {
    background: #767B91;
}

.App {
    margin: 0 auto;
    width: 1600px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
}

.header {
    grid-column: 1/7;
}

.navi {
    grid-column: 1/2;
}

.content {
    grid-column: 2/7;
}

.footer {
    grid-column: 1/7;
}


/* Шрифты */

@font-face {
    font-family: "Forum";
    src: url(fonts/Forum.ttf);
}